@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root{
  --hh: #00616f;
  --text: whitesmoke;
  --hhchange:#00606fad;
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

html, body{
  width: 100vw;
  height: 100vh;
  
}

.container{
  max-width: 1200px;
  margin: 0 auto;
}

header{
  padding: 5px 5px;
}

.topHeader{
  padding: 10px 0;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid var(--hh);
}

.contact i{
  color: var(--hh);
  margin-right: 2px;
}
.contact a{
  padding-right: 5px;
  text-decoration: none;
  color: var(--hh);
  margin-right: 2px;
  border-right: 1px solid var(--hh);
  transition: all .5s ease;
}

.contact a:hover{
  color: var(--hhchange);
}

.socialIcon > a{
  text-decoration: none;
  color: black;
}
.socialIcon i{
  padding: 5px;
  border-radius: 50%;
  color: var(--hh);
  transition: all .3s ease;
}

.socialIcon i:hover{
  padding: 5px;
  background-color: var(--hh);
  border-radius: 50%;
  color: var(--text);
}

/* bottomHeader */

.bottomHeader{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.logoBox>img{
  height: 50px;
}

nav > ul{
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
  font-weight: 600;
}

nav > ul > li > a{
  color: var(--hh);
  text-decoration: none;
}

.dropMenup{
  position: relative;
}


.dropMenu a{
  text-decoration: none;
  color: var(--hh);
}

.set{
  display: flex;
  align-items: center;
}


.dropMenu{
  width: 200px;
  padding: 10px 20px;
  background-color: var(--text);
  position: absolute;
  z-index: 99;
  list-style: none;
  display: block;
  visibility: hidden;
  box-shadow: 0 5px 5px 1px rgba(0, 0, 0, 0.096);
  transition: .2s ease-in;
}
 
.dropMenup:hover .dropMenu {
  visibility: visible;
}

.dropMenuDown{
  width: 200px;
  padding: 10px 20px;
  background-color: var(--text);
  position: absolute;
  top: 55%;
  left: 100%;
  z-index: 99;
  list-style: none;
  display: block;
  visibility: hidden;
  box-shadow: 0 5px 5px 1px rgba(0, 0, 0, 0.096);
  transition: .2s ease-in;
}
 
.dropdown:hover .dropMenuDown {
  visibility: visible;
  top: 50%;

}

.getQoute > a{
  padding: 10px 30px;
  border-radius: 20px 2px 20px 2px;
  background-color: var(--hh);
  text-decoration: none;
  color: var(--text);
  font-weight: 600;
  transition: all .2s ease;
}
.getQoute > a:hover{
  border-radius: 0 20px 0 20px;
}
/* section start */